body {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans';
  font-size: 14px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 0;
}

.map {
  bottom: 0;
  top: 0;
  width: calc(100% - 300px);
}

.sidebar {
  background: rgba(255, 255, 255, .5);
  width: 300px;
}

.layers {
  padding: 15px;
}

.popup__title {
  font-family: 'Open Sans';
  font-size: 14px;
  width: 250px;
}

.popup__notes {
  font-family: 'Open Sans';
  font-size: 14px;
  width: 254px;
}

.mapboxgl-popup-content {
  padding: 20px;
}

.legend {
  display: none;
  padding: 15px;
}

.legend__title {
  font-size: 16px;
  font-weight: bolder;
}

.control__download {
  background: #FFF;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 130px;
  width: 29px;
  z-index: 20;
}

.control__download:hover {
  background:#F2F2F2;
}