body {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans';
  font-size: 14px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 0;
}

.map {
  bottom: 0;
  top: 0;
  width: calc(100% - 360px);
}

.questions {
  background: rgba(255, 255, 255, .9);
  display:  flex;
  flex-direction: column;
  font-size: 16px;
  height: 110px;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  right: 370px;
  top: 10px;
  width: 300px;
}

.questions__controls {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-around;
}

.sidebar {
  background: rgba(255, 255, 255, .5);
  width: 360px;
  overflow-y: scroll;
}

.layers {
  padding: 10px;
}

.layers__subtitle {
  margin-bottom: 4px;
  margin-top: 8px;
}

.layers__set {
  padding: 0;
  border: 0;
  margin-bottom: 8px;
}

.popup__question {
  font-family: 'Open Sans';
  font-size: 14px;
  width: 250px;
}

.popup__title {
  font-family: 'Open Sans';
  font-size: 14px;
  width: 250px;
}

.popup__notes {
  font-family: 'Open Sans';
  font-size: 14px;
  width: 254px;
}

.popup__list {
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 0;
  padding: 10px;
}

.mapboxgl-popup-content {
  padding: 20px;
}

.legend {
  display: none;
  padding: 5px 15px;
}

.legend__title {
  font-size: 16px;
  font-weight: bolder;
}

.control__download {
  background: #FFF;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 130px;
  width: 29px;
  z-index: 20;
}

.control__download:hover {
  background:#F2F2F2;
}